body {
    background-color: #DCDCDC;
    font-family: 'Lato', sans-serif;
}

span.error { 
    color: #f44336;
    font-size: 0.75rem;
    margin-bottom: 12px;
}

.MuiLinearProgress-root {
    border-radius: inherit;
}
.MuiButton-root {
    font-weight: bold;
}