body {
    background-color: #DCDCDC;
    font-family: 'Lato', sans-serif;
}

span.error { 
    color: #f44336;
    font-size: 0.75rem;
    margin-bottom: 12px;
}

.MuiLinearProgress-root {
    border-radius: inherit;
}
.MuiButton-root {
    font-weight: bold;
}

.rowOfChips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-bottom: 16px;
}

.rowOfChips > span {
    margin-right: 8px;
}